@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.btn-register {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #282726;
  border: 2px solid #282726;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
}

.btn-register-stripe {
  overflow: hidden;
  position: relative;
}

.btn-register-stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #282726, #282726 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #282726;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.btn-register-stripe:hover {
  background-color: #282726;
  color: #fff;
  border-color: #000;
}

.btn-register-stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
  animation: stripe-slide 12s infinite linear forwards;
}

.btn-login {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #282726;
  color: #fff;
  border: 2px solid #282726;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
}

.btn-login-stripe {
  overflow: hidden;
  position: relative;
}

.btn-login-stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.btn-login-stripe:hover {
  background-color: #fff;
  color: #282726;
  border-color: #000;
}

.btn-login-stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #282726, #282726 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
  animation: stripe-slide 12s infinite linear forwards;
}

div.btn-add {
  margin-top: 2em;
}

.btn-add {
  font-weight: bold;
  width: 15vw;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  cursor: pointer;
}

.btn-add a {
  text-align: center;
  padding: 6px 16px;
  display: block;
  text-decoration: none;
  text-align: center;
  border: 1px solid #282726;
  color: white;
  font-family: arial;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all .35s;
  border-radius: 10px;
}

.btn-add a:before,
.btn-add a:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: all .35s;
}

.btn-add a:before{
  opacity: .5;
}

.btn-add a:after{
  transition-delay: .2s;
}

.btn-add a:hover{
  color: #000;
}

.btn-add a:hover:before,
.btn-add a:hover:after{
  top: 0;
}